@use "../../../styles/variables" as *;

.project-settings-container {
  display: flex;
  flex-direction: column;
  padding: 16px 8px;
  font-family: $primary-font-family;

  .overview-header {
    width: 100%;
    display: flex;
    flex-direction: column;

    .overview-headline {
      font-size: 32px;
      font-weight: 600;
      margin: 0 0 1rem 0;
    }

    .overview-sub-headline {
      font-size: 18px;
      color: $gray-700;
      margin: 0;
    }
  }
}