.database-browser {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;

  .database-browser-body {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
  }
}
