@use "../../../styles/variables";

.input_group {
  display: flex;
  flex-direction: column;
  gap: variables.$spacing-sm;
  width: 100%;
  align-self: stretch;


  label {
    font-size: 14px;
    font-weight: 500;
    color: variables.$secondary-font-color;
  }

  .error_message {
    font-size: 12px;
    color: variables.$red;
    margin: 0;
  }
}

.input_wrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px variables.$spacing-md;
  border: 1px solid variables.$border-color;
  border-radius: variables.$border-radius-medium;
  font-size: 14px;
  font-family: variables.$primary-font-family;
  color: variables.$primary-font-color;
  background: variables.$white;
  transition: all variables.$transition-fast;

  &::placeholder {
    color: variables.$placeholder-font-color;
  }

  &:focus {
    outline: none;
    border-color: variables.$highlight-purple;
    box-shadow: 0 0 0 3px rgba(12, 140, 233, 0.1);
  }

  &:disabled {
    background: variables.$gray-100;
    cursor: not-allowed;
  }
}

.with_icon .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  width: 1.25rem;
  height: 1.25rem;

  color: variables.$placeholder-font-color;

  svg {
    width: 100%;
    height: 100%;
  }
}

.icon_leading .icon {
  left: variables.$spacing-md;
}

.icon_trailing .icon {
  right: variables.$spacing-md;
}

.icon_leading .input {
  padding-left: calc(#{variables.$spacing-md} + 1.25rem + #{variables.$spacing-sm});
}

.icon_trailing .input {
  padding-right: calc(#{variables.$spacing-md} + 1.25rem + #{variables.$spacing-sm});
}
