@use "../../../../styles/variables" as *;

.tab-bar {
  width: 100%;
  display: flex;
  min-width: 0;

  .tab-bar-list {
    flex: 1 1 auto;
    min-width: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    border-bottom: 1px solid $border-color;
  }
}

.tab-item {
  padding: $spacing-sm $spacing-md;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $gray-200;
  cursor: default;
  border-bottom: 3px solid transparent;

  &.active {
    background-color: $gray-400;
    border-bottom: 3px solid $highlight-purple;

    &:hover {
      background-color: $gray-400;
    }
  }

  &:hover {
    background-color: $gray-300;
  }

  .tab-name {
    display: inline;
    margin: 0;
    padding-right: $spacing-sm;
  }

  .close-button-wrapper {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 360px;

    &:hover {
      transition: background-color 0.2s ease-in;
      background-color: $gray-500;
    }
  }
}