@use "../../../styles/variables" as *;

.column-item {
  flex: 1;
  display: flex;
  align-items: center;
  height: auto;
  background: $gray-300;
  border-radius: $border-radius-small;
  margin: $spacing-xs 0;
  padding: $spacing-sm $spacing-md;
  justify-content: space-between;

  .column-info {
    display: flex;
    align-items: center;

    .column-name {
      margin: 0 0 0 $spacing-sm;
    }

    .data-type-icon {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 20px;
        aspect-ratio: 1 / 1;
      }
    }
  }

  button {
    height: 20px;
    margin: 0;
    svg {
      rotate: 90deg;
    }
  }
}